<h1>Busqueda de Empleo</h1>
<form action="">
    <label for="Busqueda">Busqueda</label><br>
    <input type="text" id="Busqueda" name="Busqueda" value=""><br>
    <label for="TipoEmpleo">Tipo de Empleo</label><br>
    <select id="TipoEmpleo" name="TipoEmpleo">
        <option value="Hibrido"> Hibrido</option>
        <option value="Presencial">Presencial</option>
        <option value="Remoto">Remoto</option>
    </select><br>
    <label for="ubicacion">Ubicacion(Andalucia)</label><br>
    <select id="ubicacion" name="ubicacion(Andalucia)">
        <option value="espania">España</option>
        <option value="Almeria">Almeria</option>
        <option value="Sevilla">Sevilla</option>
        <option value="Huelva">Huelva</option>
        <option value="Cadiz">Cadiz</option>
        <option value="Malaga">Malaga</option>
        <option value="Granada">Granada</option>
        <option value="Jaen">Jaen</option>
        <option value="Cordoba">Cordoba</option>

    </select><br><br>
    <button type="reset"> Restablecer</button><br><br>
    <button routerLink="/inicio">volver al inicio</button>
    <button routerLink="/mostrar">Ver Resultado</button>
</form>