<h1>Resultados</h1>
<div>
    <h2>Graficos</h2>
    <h3>Grafico de Barras</h3>
    <img alt="Grafico Barras" style="height: 300px;background-color: black;width: 300px;">
    <h3>Grafico de Trazos</h3>
    <img alt="Grafico Trazos" style="height: 300px;background-color: black;width: 300px;">
    <div>
        <h3>Links de las 3 empresas mas recientes en base a tus preferencias</h3>
        <div>
                <!-- https://www.linkedin.com/(dato del scrapy) --> 
                <a target="_blank" href="https://www.linkedin.com/jobs/view/2924577233/?eBP=NotAvailableFromMidTier&recommendedFlavor=JOB_SEEKER_QUALIFIED&refId=P85hXYbT2WXy%2F7GovrQTkQ%3D%3D&trackingId=WgxQZFwsNw8mUjnszSZLPg%3D%3D&trk=flagship3_search_srp_jobs">DESIC | Consultora Tecnológica</a><br>
                <a target="_blank" href="https://www.linkedin.com/jobs/view/2876308424/?eBP=NotAvailableFromMidTier&refId=P85hXYbT2WXy%2F7GovrQTkQ%3D%3D&trackingId=BVLH2pOoxFLVVOcPuK9Gkg%3D%3D&trk=flagship3_search_srp_jobs">Arteco Consulting Sl</a><br>
                <a target="_blank" href="https://www.linkedin.com/jobs/view/2911303733/?eBP=CwEAAAF_F2xDmG3VqtXeCZLqpkTwKx2mXIXLAWYXDe4mbIRc7eZVJDmhPIysFelVD_y1WNAHSqpXaGI2HFPmwDrFVtdBBfWnkVvcBUZGxBH73a0ll0pX_7iNo4iYMCEkPLCmtaxlBibdUbBkAD0OKuSDnSllDkZAfrWyyJu-Iuvp9EQmecuc0d5Eby1MmWwM5eQZGy7cAww7is_rQmeTQFUu2I-PRuJaemHPgyUYWPwqf6XnDDQ9bFPUtNbyzeZHcOiBHZKRCRP7RTYpwETpzRGjROXE91W2euh_jdi3W9xcluED693ILMasOdDQ351Pd_Rfp1l1tT00auj5mcDHltiUlGmkq3w6OJwvFzjYvMNIDfTrM4V5yVKFvZsbY2FxHQZaAQ&recommendedFlavor=ACTIVELY_HIRING_COMPANY&refId=DTWjFV6apqk0sg13FQYXCA%3D%3D&trackingId=%2FJaBaSdMwKUq%2F6KG%2FLwKLQ%3D%3D&trk=flagship3_search_srp_jobs">CodePremium</a>
        </div>
    </div><br>
    <button routerLink="/inicio">volver al Menu</button>

</div>
